.alertaExito {
  background-color: rgb(97 159 97);
  padding: 1rem 2rem;
  border-radius: 7px;
  position: absolute;
  top: 16%;
  right: 2%;
  animation: slideInFromRight 0.75s ease-in-out;

  z-index: 100;
}
.alertaError {
  background-color: rgb(159, 97, 97);
  padding: 1rem 2rem;
  border-radius: 7px;
  position: absolute;
  top: 16%;
  right: 2%;
  animation: slideInFromRight 0.75s ease-in-out;

  z-index: 100;
}

.fadeOut {
  animation: fadeOut 0.5s ease-in-out;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
