.plantilla {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.2s;
  padding: 0.5rem;
  justify-content: space-between;
  width: 100%;
  background-color: var(--background-alt);
  border-radius: 7px;
}
.plantilla > img {
  object-fit: cover;
  width: 7rem;
  height: 7rem;
}
.plantilla > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.plantilla > div > h2 {
  margin: 0 0 0.75rem 0;
}
.plantilla > div > label {
  text-align: center;
  width: 100%;
}

.plantilla > div > small {
  margin-top: 0.75rem;
  font-style: italic;
  color: var(--text-muted);
  text-align: center;
  width: 100%;
}

.diasSemana {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  list-style-type: none;
  width: 80%;

  gap: 0.5rem;
  margin: 0;
}
.diasSemana li {
  width: 2rem;
  height: 2rem;

  background-color: var(--background-alt);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 1px solid var(--selection);

  transition: 0.3s;
}

.diasSemana li.diaSelect {
  background-color: var(--selection);
}

.lineaEjercicio {
  width: 100%;
  height: 0.15rem;
  margin-top: 0;
  background: linear-gradient(
    to right,
    transparent,
    var(--selection),
    transparent
  );
  border: none;
  z-index: 0;
}
