.plantillas {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.plantillas a {
  display: flex;
  flex-direction: column;
  width: 31rem;
  align-items: center;
}
