.grafico {
  background-color: var(--background-alt);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  order: 1;
  gap: 0.5rem;
}
.grafico p {
  margin: 0;
  padding: 0;
}
.filtroFechas {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 0.5rem;
}
.selecPeriodo {
  color: var(--selection);
  width: 100%;
  margin: 0;
  padding: 0;
}
.filtros {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 9rem;
  gap: 0.5rem;
}
.filtros button {
  background-color: transparent;
  border: 1px solid var(--selection);
  color: var(--selection);
}
@media (max-width: 600px) {
  .grafico {
    flex-direction: column;
  }
  .filtros {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .filtros button {
    width: 49%;
  }
}
