.ejercicio {
  background: var(--color-secondary);
  color: var(--color-terciary);
  border-radius: 1rem;

  padding: 1rem;
  max-width: 18rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  opacity: 0;
  animation: fadeAndMove 0.6s ease-in-out forwards;
  transition: 0.5s;
}

@keyframes fadeAndMove {
  0% {
    opacity: 0;
    transform: translateY(-10px) scale(1.1);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.ejercicio:hover {
  transform: scale(1.1);
  background-color: var(--background-body);
  border: 1px solid var(--selection);
}

.ejercicio video {
  max-width: inherit;
  border-radius: 1rem;
  margin-top: 1rem;
}

.ejercicio h2 {
  margin: 0;
  padding: 0;
}

.btnSeleccion {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
}

.seleccionado {
  background: #000;
}
