.entrenos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 1;
  gap: 1rem 2rem;
  margin: auto;
}

.entrenos a {
  display: flex;
  flex-direction: column;
  width: 23rem;
  align-items: center;
}
