.diasSemana {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  list-style-type: none;
  width: 80%;

  gap: 0.5rem;
  margin: 0;
}
.diasSemana li {
  width: 2rem;
  height: 2rem;

  background-color: var(--background-alt);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 1px solid var(--selection);

  transition: 0.3s;
}

.diasSemana li.diaSelect {
  background-color: var(--selection);
}

.dificultad {
  display: flex;
  gap: 0;
}

.dificultad input {
  display: none;
  width: 0;
  height: 0;
}
.dificultad label {
  margin: 0;
  padding: 0.7rem 0;
  width: 7rem;
  text-align: center;
  background: var(--background-alt);
  border-radius: 7px;
  border: 1px solid var(--selection);

  transition: 0.3s;
}
.dificultad label.dificultadSelected {
  background: var(--selection);
  border-color: #000;
}
