.home {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.cabeceraHome {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 0rem;
}
.cabeceraHome img {
  width: 20rem;
}

.beneficios {
  display: flex;
  gap: 1rem 2rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.beneficios h2 {
  width: 100%;
  text-align: center;
  font-size: 200%;
  margin: 0;
  padding: 0;
}
.beneficio {
  display: flex;
  width: 20rem;
  height: 9rem;
  background-color: var(--background-header);
  padding: 1rem 2rem;
  border-radius: 10px;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.beneficio div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.beneficio p {
  font-style: italic;
  color: var(--color-terciary);
}
.beneficio svg {
  font-size: 600%;
}
.beneficio div h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 150%;
}

.llamadaAccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;

  margin-bottom: 2rem;
}

.llamadaAccion p {
  font-style: italic;
}

.plantillas {
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.plantillas h2 {
  font-size: 175%;
  text-align: center;
}
.plantillas > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
}
