.ejercicios {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;

  z-index: 1;
}

.ejercicio {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.2s;
  padding: 0.5rem;
  justify-content: space-between;
  width: 100%;
  background-color: var(--background-alt);
  border-radius: 7px;
}

.ejercicio > video {
  width: 10rem;
  border-radius: 7px;
  margin-right: 1rem;
}
.ejercicio > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.ejercicio > div > h3 {
  margin: 0;
}
.ejercicio > div > div {
  display: flex;
  flex-direction: row;
}
.ejercicio > div > div > input {
  max-width: 3rem;
  background-color: inherit;
  border-bottom: 2px solid white;
  padding: 0;
  border-radius: 0;
  margin-left: 0.3rem;
  margin-right: 1rem;
  text-align: center;
}

.ejercicio > span {
  color: red;
}

.ejercicioOnDrag {
  opacity: 0.3; /* Opacidad reducida */
  border: 2px dashed var(--selection); /* Borde punteado */
  padding: 1rem;
  border-radius: 7px;
}

.duplicateEjercicio {
  margin-top: -1.6%;
  background: var(--text-bright);
  color: var(--selection);
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  text-align: center;
  line-height: 1.25 rem;
  font-weight: bolder;
  border: none;

  z-index: 2;
}

.lineaEjercicio {
  width: 100%;
  height: 0.15rem;
  margin-top: -1.6%;
  background: linear-gradient(
    to right,
    transparent,
    var(--selection),
    transparent
  );
  border: none;
  z-index: 0;
}


.guardar {
}

.guardado {
  background-color: var(--color-terciary);
}

.divEjercicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
