.medidas {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
.divUltimasMedidas {
}
.ultimasMedidas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}
.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}
.addMedida {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}
